<html>

<head>
    <title>Create a letter !</title>
    <!-- Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="content">
        <div class="row">
            <!-- Forms -->
            <div class="col-sm-12 col-lg-4 shadow-lg pt-3">
                <div class="container my-2">
                    <h2 class="py-2 shadow-lg rounded text-center bg-danger text-white shadow">CONTENT</h2>
                    <hr>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input placeholder="Insert Company" type="text" v-model="company" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input placeholder="Insert Address" type="text" v-model="address" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="ref">Reference Line</label>
                        <input placeholder="Insert Reference" type="text" v-model="ref" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="text" placeholder="Insert Date" v-model="date" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="to">To</label>
                                <input placeholder="Insert Receiver" type="text" v-model="to" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="position">Position</label>
                                <input placeholder="Receiver's Position" type="text" v-model="position"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_r">Company</label>
                        <input placeholder="Insert Company" type="text" v-model="company_r" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="address_r">Address</label>
                        <input placeholder="Insert Address" type="text" v-model="address_r" class="form-control">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" @click="borderToggle" id="border-toggle">
                        <label class="form-check-label" for="defaultCheck1">
                            Border
                        </label>
                    </div>
                    <hr>
                    <button class="btn btn-sm btn-dark ml-2 " data-toggle="modal" data-target="#letter">Create A Letter
                        !</button>
                    <button class="btn btn-sm btn-success ml-2 " @click="saveData">Save Data</button>
                    <button class="btn btn-sm btn-danger ml-2 " onclick="printDoc()">Print Letter</button>
                    <hr>
                </div>
            </div>
            <!-- Letter -->
            <div class="col-sm-12 col-lg-8 bg-danger">
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <div class="container bg-white my-5 py-5 shadow-lg" id="letter_layout" v-if="company">
                            <div :class="{border : border}">
                                <div class="text-center my-3">
                                    <h5 class="company pt-4"><b>{{ company }}</b></h5>
                                    <div class="row justify-content-center">
                                        <div class="col-lg-3 text-center">
                                            <p class="" style="word-wrap: break-word; text-align: center !important;">
                                                {{ address }}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr :class="{ border_line : border}">
                                <div class="container">
                                    <div class="row my-4">
                                        <div class="col-lg-4 text-left">
                                            <div class="container">
                                                <p>{{ ref }}</p>
                                                <p class="mt-n3">{{ to }}</p>
                                                <p class="mt-n3">{{ position }}</p>
                                                <p class="mt-n3">{{ company_r }}</p>
                                                <p class="mt-n3">{{ address_r }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <div class="container">
                                                {{ date }}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="container">
                                                <p>
                                                    {{ salutation }},
                                                </p>
                                                <p class="content">
                                                    {{ opening }}
                                                </p>
                                                <p class="content">
                                                    {{ main }}
                                                </p>
                                                <p class="content">
                                                    {{ closing }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end mt-5 mb-5" v-if="writer">
                                        <div class="col-lg-3">
                                            <p>Yours faithfully,</p>
                                            <br>
                                            <br>
                                            <b><i>{{ writer }}</i></b> <br>
                                            <b><i>{{ writer_position }}</i></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container text-center bg-white my-5 py-5 " v-else>
                            There is no content !
                        </div>
                    </div>
                </div>
                <div class="container mb-5">
                    <div class="container">
                        <div class="container">
                            <hr class="my-4 bg-white" style="border : solid 2px white; border-radius : 10px;">
                            <div class="row justify-content-center">
                                <div class="col-lg-3">
                                    <div class="card p-2 text-center shadow" id="card"> <small>Full
                                            Block
                                            Style</small>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card p-2 text-center shadow" id="card"> <small>Full
                                            Block
                                            Style</small>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card p-2 text-center shadow" id="card"> <small>Full
                                            Block
                                            Style</small>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card p-2 text-center shadow" id="card"> <small>Full
                                            Block
                                            Style</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="letter">
            <div class="modal-dialog modal-lg  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create A Letter !</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="salutation">Salutation</label>
                            <input placeholder="Insert Salutation" type="text" v-model="salutation"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="opening">Opening</label>
                            <textarea class="form-control" id="opening" cols="30" rows="3" v-model="opening"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="main">Main</label>
                            <textarea class="form-control" id="main" cols="30" rows="3" v-model="main"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="closing">Closing</label>
                            <textarea class="form-control" id="closing" cols="30" rows="3" v-model="closing"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="writer">Writer</label>
                            <input type="text" v-model="writer" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="writer_position">Writer's Position</label>
                            <input type="text" v-model="writer_position" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Preview</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Script  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <script src="main.js"></script>
</body>

</html>