        body {
            margin: 0;
            padding: 0;
            overflow-x: unset;
        }

        p {
            text-align: justify !important;
        }

        p.content {
            text-indent: 40px
        }

        h5.company {
            text-transform: uppercase;
        }

        .form-control {
            border: none !important;
            background: rgba(0, 0, 0, 0.1) !important;
            transition: 0.5s;
        }

        .form-control:hover {
            background: rgba(62, 134, 201, 0.5) !important;
        }

        .form-control:focus {
            background: rgba(255, 255, 255, 0.5) !important;
        }

        .border {
            border: solid 3px black !important;
        }

        p {
            font-size: 14pt;
        }

        .border_line {
            border: solid 1.5px black !important;
            background-color: black;
        }

        #card {
            cursor: pointer;
            transition: 0.3s;
            border-radius: 30px;
        }

        #card:hover {
            background: black;
            color: white !important;
        }